<div class="p-3 flex-grow flex flex-col"
     data-controller="media--browser"
     data-media--browser-media-url-value="{{ path('numbernine_admin_contententity_get_collection', {type: 'media_file'}) }}"
>
    <div id="media-browser"></div>
</div>
