<div class="flex-grow p-3">
    {{ form_start(form) }}
        {% include '@NumberNine/admin/util/content_entities_table.html.twig' with {
            entities: deleted_media_files,
            is_trash: true,
        } %}

        <div class="flex gap-3">
            {{ form_row(form.restore, {row_attr: {class: 'mt-4'}}) }}
            {{ form_row(form.delete, {attr: {class: 'btn btn-color-red'}}) }}
        </div>
    {{ form_end(form) }}
</div>
