{% trans_default_domain 'numbernine' %}
<div data-controller="media--uploader" class="p-3">
    <div id="media-uploader"
         data-media--uploader-target="uploader"
         data-upload-url="{{ path('numbernine_admin_media_files_upload') }}"
         data-max-upload-size="{{ N9_max_upload_size() }}"
    ></div>
</div>
