<div class="p-3 flex-grow flex flex-col overflow-y-auto"
     data-controller="media--uploader"
     data-media--uploader-upload-url-value="{{ path('numbernine_admin_media_files_upload') }}"
     data-media--uploader-max-upload-size-value="{{ N9_max_upload_size() }}"
     data-media--uploader-auto-upload-value="false"
     data-media--uploader-sequential-value="true"
>
    <div id="media-uploader" class="flex-grow flex flex-col"></div>
</div>
