{% trans_default_domain 'numbernine' %}
<div class="flex flex-row items-center bg-primary text-white px-3 py-2 shadow-lg space-x-4">
    <div class="font-semibold text-xl">{{ title ?? 'Missing title'|trans }}</div>
    {{ tools ?? null }}
</div>
