/*!
 * This file is part of the NumberNine package.
 *
 * (c) William Arin <williamarin.dev@gmail.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

@import "~@fortawesome/fontawesome-free/css/all.css";

body {
    @apply bg-gray-400;

    &.login {
        @apply bg-gradient-to-r from-gray-900 via-blue-700 to-blue-800 bg-cover bg-center;
        background-image: url(../images/login_background.jpg);
    }
}

.card {
    @apply relative w-full overflow-hidden shadow-lg bg-white rounded p-5 bg-opacity-50;

    h1 {
        @apply font-light text-6xl leading-10 mt-3 mb-6 bg-left-top bg-no-repeat h-12 text-gray-800;
        padding-left: 3.5rem;
        background-image: url(../images/NumberNineWithoutText.png);
        background-size: auto 100%;
    }

    .back-to-front {
        @apply font-bold text-blue-700 text-sm;

        &:hover {
            @apply text-blue-900;
        }
    }

    form {
        @apply pt-6;

        label {
            @apply block text-gray-800 text-sm font-bold mb-2 cursor-pointer;
        }

        input[type="text"], input[type="password"] {
            @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;

            &:focus {
                @apply outline-none shadow-outline;
            }
        }

        .form-footer {
            @apply flex items-center justify-between;

            button {
                @apply bg-blue-700 text-white font-bold py-2 px-4 rounded;

                &:hover {
                    @apply bg-blue-900;
                }

                &:focus {
                    @apply outline-none shadow-outline;
                }
            }

            a {
                @apply inline-block align-baseline font-bold text-sm text-blue-700;

                &:hover {
                    @apply text-blue-900;
                }
            }
        }
    }
}

/* Medium (md) */
@media (min-width: 768px) {
    .card {
        @apply w-1/2;
    }
}
