/*!
 * This file is part of the NumberNine package.
 *
 * (c) William Arin <williamarin.dev@gmail.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

#n9-page-builder-tool-insert-button {
    backface-visibility: hidden;
    z-index: 50;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;

    button {
        position: absolute;
        background-color: var(--n9-tertiary);
        color: #fff;
        pointer-events: all;
        cursor: pointer;
        width: 18px;
        height: 18px;
        padding: 0;
        border-radius: 15px;

        &:focus {
            outline: none;
        }

        &:active {
            background-color: rgb(46, 119, 224);
        }

        &.n9-left {
            top: 50%;
            left: -7px;
            transform: translateY(-9px);
        }

        &.n9-right {
            top: 50%;
            right: -7px;
            transform: translateY(-9px);
        }

        &.n9-top {
            left: 50%;
            top: -7px;
            transform: translateX(-9px);
        }

        &.n9-bottom {
            left: 50%;
            bottom: -7px;
            transform: translateX(-9px);
        }

        i {
            top: 3px;
            left: 4px;
            position: absolute;
        }
    }
}
