/*!
 * This file is part of the NumberNine package.
 *
 * (c) William Arin <williamarin.dev@gmail.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

#page-builder-tool-outline {
    z-index: 25;
    pointer-events: none;
    border-color: rgba(78, 87, 98, 0.5);

    .wrapper {
        background-color: var(--n9-secondary);
    }
}
