{% trans_default_domain 'numbernine' %}
<div class="alert-warning" role="alert">
    <p class="font-bold">{% trans with {'%component%': component} %}Component "%component%" is missing.{% endtrans %}<br>
        <small>{% trans %}This alert is only shown to administrators.{% endtrans %}</small></p>
</div>
