/*!
 * This file is part of the NumberNine package.
 *
 * (c) William Arin <williamarin.dev@gmail.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
/*!
 * This file is part of the NumberNine package.
 *
 * (c) William Arin <williamarin.dev@gmail.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */a{color:#46a6e9;text-decoration:none}a:hover{color:rgba(70,166,233,0.8)}.q-table tbody td,.q-table th{font-size:inherit}.q-drawer .q-list .q-hoverable:hover{color:#fff}.control-label{left:0;right:0;top:-20px;color:#5a5a5b;font-size:12px;line-height:20px;pointer-events:none}