{% trans_default_domain 'numbernine' %}
{% extends '@NumberNine/admin/base.html.twig' %}

{% block title %}{{ 'Dashboard'|trans }}{% endblock %}

{% block content %}
    <div class="flex flex-col">
        {% include '@NumberNine/admin/layout/toolbar.html.twig' with {title: 'Dashboard'} %}
        {% include '@NumberNine/admin/util/flashes.html.twig' %}
    </div>
{% endblock %}
