/*
 * This file is part of the NumberNine package.
 *
 * (c) William Arin <williamarin.dev@gmail.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

[type='text'], [type='email'], [type='url'], [type='password'], [type='number'], [type='date'],
[type='datetime-local'], [type='month'], [type='search'], [type='tel'], [type='time'], [type='week'],
[multiple], textarea, select {
    @apply rounded border-secondary-100 focus:border-primary focus:ring-primary focus:ring-offset-white;
}

[type='checkbox'], [type='radio'] {
    @apply text-primary border-secondary-100 focus:text-primary focus:ring-primary focus:ring-offset-white;
}

[type="range"] {
    @apply rounded-lg overflow-hidden appearance-none bg-primary-100 h-3 w-80;
}

form {
    .help-text {
        @apply text-gray-400 text-sm mt-2;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    [type="range"]::-webkit-slider-thumb {
        width: 15px;
        -webkit-appearance: none;
        appearance: none;
        height: 15px;
        cursor: ew-resize;
        background: #FFF;
        box-shadow: -405px 0 0 400px var(--color-primary);
        border-radius: 50%;
    }
}
