<!DOCTYPE html>
<html class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>{% block title %}{% endblock %}</title>

    {% block stylesheets %}
    {% endblock %}

    {% block javascripts_head %}
    {% endblock %}
</head>
<body class="h-full">
<div class="container mx-auto h-full">
    <div class="flex flex-row justify-center items-center h-full p-5">
        <div class="card">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>

{% block javascripts_footer %}{% endblock %}
</body>
</html>
